@using CMS.DocumentEngine.Types.Fs
@{
    ViewBag.Title = "Home Page";
    var cAbout = ContentProvider.GetContent(2).FirstObject;
}

<div class="jumbotron">
    <h1>@cAbout.ContentTitle</h1>
    <p class="lead">@cAbout.ContentText</p>
    
</div>

<div class="row">
    @foreach (var p in CMSproductProvider.GetCMSproducts())
    {
        <div class="col-md-4">
            <img src="@Url.Content(@p.SKU.SKUImagePath)" alt="@p.DocumentSKUName" class="img-responsive" />
            <h2>@p.DocumentSKUName</h2>
            <p>
            @*    <span>@p.SKU.SKUNumber</span> *@
                <span class="lead">Price: @p.SKU.SKUPrice$</span>                               
            </p>
        </div>        
    }    
</div>